.Card {
  gap: 0.7rem;
  padding: 0 1rem 0 0;

  @apply grid relative grid-cols-2;
}

.Image {
  @apply aspect-square;
}

.Image img {
  @apply block h-full;
}

.Information {
  font-size: 0.8rem;
  line-height: 1.2rem;

  @apply flex flex-col justify-center;
}

.Title {
  @apply font-semibold;
}

.Remove {
  right: 10px;

  @apply absolute cursor-pointer border-none bg-transparent text-black;
}

.Quantity {
  @apply flex gap-4;
}

.Loader {
  @apply hidden absolute top-0 left-0 w-full h-full bg-opacity-50 bg-black;
}

.Button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.Active {
  @apply block;
}
